<ion-card>
  <ion-card-subtitle class="ion-margin">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-margin" 
      (click)="abreArticulo()" >

        <span class="text-primary">{{index }}</span>
        <span class="article-source-name">{{l.tag}}</span>    
      </ion-col>
    
      <ion-col align="right" class="">
        <ion-button (click)="onOpenMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    

  </ion-card-subtitle>

  <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
    {{l.nombre}}
  </ion-card-title>

  <ion-img
    *ngIf="l.foto"
    [src]="l.foto"
    (click)="abreArticulo()"
  ></ion-img>

  <ion-card-content
    *ngIf="l.resumen">
    <p>{{l.resumen}}</p>
  </ion-card-content>

</ion-card>